.admin-advertisement-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.admin-advertisement-navigation {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.admin-advertisement-container button {
    background-color: transparent;
    font-family: 'Noticia Text', serif;
    border: 0px;
    border-bottom: 1px solid transparent;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px; 
    color: black;
}
    
.admin-advertisement-container button:hover {
    border-bottom: 1px solid black;
}

.admin-advertisement-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    flex-grow: auto;
    padding: 20px;
}

.admin-advertisement-container h2 {
    text-align: center;
}
  
.admin-advertisement-container label {
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
    display: block; 
}
  
.admin-advertisement-container input,
.admin-advertisement-container textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: transparent;
    font-size: 16px;
    outline: none;
    text-align: center;
    font: 14px 'Noticia Text', serif;
    color: black;
}

.admin-advertisement-container textarea {
    border: 1px solid #000000;
    padding: 10px;
}
  
.admin-advertisement-container input:-webkit-autofill,
.admin-advertisement-container textarea:-webkit-autofill,
.admin-advertisement-container select:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: black !important; /* Change text color if needed */
}
.admin-advertisement-container input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Ensure the calendar icon is visible */
  }
  
.admin-advertisement-container button[type="submit"] {
    background-color: transparent;
    font-family: 'Noticia Text', serif;
    border: 0px;
    border-bottom: 1px solid transparent;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px; 
    color: black;
    font-weight: bold;
    margin-top: 20px;
}

.admin-advertisement-container select {
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    background-color: transparent; 
    border: none; 
    border-bottom: 1px solid #000000; 
    padding: 10px; 
    font-size: 16px; 
    outline: none; 
    text-align: center;
    font: 14px 'Noticia Text', serif; 
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23000" d="M2 0L0 2h4zM2 5L0 3h4z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
  }
  
.admin-advertisement-container button[type="submit"]:hover {
    border-bottom: 1px solid black;
}
  
.admin-advertisement-submit-container {
      display: flex;
      justify-content: center;
      align-items: center;
}

.admin-add-advertisement {
    background-image: url("../resources/background1.png");
    background-size: cover;
    background-position: center;
    width: 80%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list-advertisements-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin: 20px;
}
  
@media (max-width: 1200px) {
    .list-advertisements-container {
      grid-template-columns: repeat(3, 1fr);
    }
}
  
@media (max-width: 768px) {
    .list-advertisements-container {
      grid-template-columns: 1fr;
    }
}

.list-advertisements-background.large {
    grid-row: span 4;
}
  
.list-advertisements-background:nth-child(odd) {
    background-image: url('../resources/background1.png');
}
  
.list-advertisements-background:nth-child(even) {
    background-image: url('../resources/background2.png');
}

.list-advertisements-background {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
        font-size: 18px;
        text-align: center;
    }

}

.advertisement-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}