.admin-buttons-navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.admin-buttons-navigation button {
    background-color: transparent;
    font-family: 'Noticia Text', serif;
    border: 0px;
    border-bottom: 1px solid transparent;
    margin: 0 5px;
    cursor: pointer;
    font-size: 12px; 
    color: black;
    font-weight: bold;
    margin-top: 20px;
    }
    
.admin-buttons-navigation button:hover {
    border-bottom: 1px solid black;
}