.container_advertisements {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 20px;
}

@media (max-width: 1200px) {
  .container_advertisements {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
  }
}

@media (max-width: 768px) {
  .container_advertisements {
    grid-template-columns: 1fr; /* 1 column for mobile */
  }
}