.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.SignForm {
  width: 100%;
  display: flex;
  justify-content: center;
}

label {
  text-align: center;
}
