body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.component-container {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.component-container.active {
  opacity: 1;
  visibility: visible;
}